################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OOPS_2_F2024/.vs/OOPS_2_F2024/v17
/OOPS_2_F2024/.vs/OOPS_2_F2024/FileContentIndex
/.vs
/OOPS_2_F2024/.vs
